upstream backend {
    server 127.0.0.1:3001;
}

server {
    listen 80;

    root /server/build;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html = 404;
        proxy_intercept_errors on;
        error_page 404 = /index.html;
        add_header Cache-Control "no-cache";
    }

    location /static {
        expires 1y;
        add_header Cache-Control "public";
    }
    
    location /api {
        return 302 /api/;
    }

    location /api/ {
        include proxy_params;
        proxy_pass http://backend;
    }
}
