upstream backend {
    server 127.0.0.1:3001;
}

server {

    listen 80;

    root /server/build;
    index index.html;

    location / {
        try_files $uri $uri/ /index.html = 404;
        proxy_intercept_errors on;
        error_page 404 = /index.html;
        add_header Cache-Control "no-cache";
    }

    location /static {
        expires 1y;
        add_header Cache-Control "public";
    }

    location /api/ {
        rewrite ^/api(.*)$ /$1 break;
        proxy_pass http://backend;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
    }
}
