.card {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    height: 100%;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    cursor: pointer;
}

.card * {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card img {
    border: none;
}

.card h2 {
    color: inherit;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}
