.card {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;

    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    height: 100%;
    max-width: 250px;
    max-height: 250px;

    border: 1px solid white;
    border-radius: 15px;

    background-color: rgba(0, 0, 0, 0.6);

    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    transition: .2s;
}

.card > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 0;
    flex-grow: 1;

    margin: 10px;
}

.card > div * {
    margin: 0;
}

.card > img {
    flex-shrink: 1;
    border-radius: 99999px;
    background-color: grey;

    margin-left: 15px;
}

.card * {
    overflow: hidden;
    text-overflow: ellipsis;

    font-size: 0.9em;
}

.card h1 {
    white-space: nowrap;
    font-size: 1.2rem
}

.card img {
    border: none;
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}
