/* Styles for full screen popups */
.popup .popup-frame {
    /* Sets position of the object */
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;

    padding: 15px;

    width: 250px;
    height: 250px;

    background-color: var(--diag-info);
    border-radius: 15px;

    box-shadow: 5px 5px 3px -5px black;
}

.popup .popup-close {
    display: block;
    color: inherit;

    cursor: pointer;
}

.popup .popup-close:hover {
   color: red; 
}

.popup p {
    margin: 0;
}

/* Styles for small inscreen popups */
.min-popup {
    position: relative;
    display: flex;
    flex: 1;
}

.min-popup .min-popup-out {
    display: none;

    position: absolute;

    text-align: center;

    top: 105%;
    left: 0%;
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.9);
}

.min-popup:hover .min-popup-out {
    display: block;
}

.min-popup .min-popup-out::after {
    content: "";
    position: absolute;
    background: none;
    bottom: 100%;
    left: 0%;
    
    height: calc(11px * 2);

    border-style: solid;
    border-color: transparent;
    border-bottom-color: rgba(0, 0, 0, 0.9);
}