.top-bar {
    width: 100%;
    background-color: var(--syn-special1);

    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .top-bar {
        flex-direction: column;
    }
}

@media only screen and (max-width: 500px) {
    .top-bar .button-container {
        border-radius: 0px;
        flex-direction: column;
        width: 100%;
    }

    .top-bar .button {
        width: 100%;
    }
}
