.sidebar {
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0;
    width: 200px;

    border-right: 1px solid var(--text-color);
}

.sidebar a {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    align-content: space-between;
}

.sidebar a > p {
    flex-grow: 1;

    font: inherit;
    text-align: left;
    color: inherit;
    color: #ccc;

    margin: 4px 0;
    padding: inherit;
}

.sidebar a:hover > p {
    color: inherit;
}

.sidebar a > .fa-solid {
    flex-grow: 0;
}

.sidebar .settings {
    background-color: rgba(0, 0, 0, .4);
    padding: 15px;
}

@media only screen and (max-width: 800px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid var(--text-color);
    }

    .sidebar .settings {
        background-color: rgba(0, 0, 0, .2);
        padding: 5px 15px;
    }
}
